/* text */
@layer components {
  .text-hint {
    margin-top: 0.25rem;
    font-size: 0.75rem;
    line-height: 1rem;
    color: var(--color-apple-green-800);
  }
}

/* status badge */
@layer components {
  .proc-badge {
    @apply inline-flex justify-center items-center max-w-[96%] px-1 rounded-sm select-none;
  }

  .proc-badge.proc-badge-pending {
    @apply bg-pending;
  }

  .proc-badge.proc-badge-pending {
    @apply bg-pending;
  }

  .proc-badge.proc-badge-running {
    @apply animate-pulse bg-running;
  }

  .proc-badge.proc-badge-aborting {
    @apply animate-pulse bg-aborting;
  }

  .proc-badge.proc-badge-aborted {
    @apply bg-aborted;
  }

  .proc-badge.proc-badge-speeded {
    @apply bg-speeded;
  }

  .proc-badge.proc-badge-failed {
    @apply bg-failed;
  }

  .proc-badge.proc-badge-completed {
    @apply bg-completed;
  }

  .proc-badge.proc-badge-broken {
    @apply bg-broken text-white;
  }

  .proc-badge.proc-badge-network {
    @apply bg-network;
  }

  .proc-badge.proc-badge-display {
    @apply bg-display;
  }

  .proc-badge.proc-badge-miscellaneous {
    @apply bg-miscellaneous;
  }

  .proc-badge.proc-badge-builtin {
    @apply bg-builtin;
  }
}
